{:kotoba.app/id "cloud.itonami.isic-1050", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih7bw7afyacrjpihspmsquyx7pqj5weq65fza3avgfgieswlg3pk4", :kotoba.app/embed-url "ipfs://bafkreih7bw7afyacrjpihspmsquyx7pqj5weq65fza3avgfgieswlg3pk4", :published {:archive "https://kotobase.net/ipfs/bafkreih7bw7afyacrjpihspmsquyx7pqj5weq65fza3avgfgieswlg3pk4", :size 72191, :put-status 201, :get-status 200, :at "2026-08-15T13:47:00.597Z"}}
